// comonents
@import "./components/globas";
@import "./components/header";
@import "./components/footer";
@import "./components/mediaqueries";

// pages
@import "./pages/index";
@import "./pages/productos";
@import "./pages/nosotros";
@import "./pages/contacto";
@import "./pages/preguntas";
