.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 0.5rem;
}

.head_contact {
    background-color: #ffc0cb;
    background-size: 100% 100%;
    width: 100%;
}