
.hero {
    min-height: 100vh;
    max-height: 100%;

    background-image: url("../asetts/img/Cookies1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__content {    
        height: 80vh;
        padding: 100px 100px 0px 100px;
        display: flex;
        flex-direction: column;    
        align-items: center;  

        h2 {
            font-family: 'Playfair Display SC', serif;
            font-weight:700;
            font-size: 2em;
            text-align: center;
            color: white;  
        }

        &-socials {    
            list-style: none;
            margin-top: 170px;
        
            display: flex;
            justify-content: center;
            gap: 50px;    
            
            .social_media {
                transition: all 0.5s;

                &:hover {
                    transform: translateY(-10px);
                }

            }
            
            
        }

    }


}


.hero__button {    
    width: 170px;
    height: 45px;
    margin-top: 20px;
    font-weight: 600;

    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border-color: black;  

    transition: all 0.3s;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        transform: translateY(-5px);
        font-weight: 700;
    }
}


.tracking-in-expand{animation:tracking-in-expand 1.5s cubic-bezier(.215,.61,.355,1.000) both}
 @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.fade-in{animation:fade-in 1.8s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}



