

.footer__nav li a {
    color: white;
    transition: color .3s;

    &:hover {
        color: black;
    }
}


.footer__brand {
    transition: transfrom .3s;

    &:hover {
        transform: $scalemin;
    }
}


.footer__socials  {
    @include templateFlex (center, center, false);

    // mapa
    $IconsSocials: (
        whatsapp: rgb(129, 238, 129),
        facebook: rgb(143, 200, 238), 
        instagram: rgb(247, 151, 204), 
    );

    @each $socialMedia, $colorIcon in $IconsSocials {
        .rs-#{$socialMedia} {
            color: black;
            font-size: 35px;
            transition: .3s;

            &:hover {
                color: $colorIcon;
            }
        }
    }

    list-style-type: none;
    gap: 10px;
}