

.footer__nav li a {
    color: white;
    transition: color .3s;

    &:hover {
        color: black;
    }
}


.footer__brand {
    transition: transfrom .3s;

    &:hover {
        transform: $scalemin;
    }
}


.footer__socials  {
    @include templateFlex (center, center, false);

    list-style-type: none;
    gap: 10px;
}